nav{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
}

ul li a{
    text-decoration: none;
}

.active{
    background-color: red;
}